{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="_username" /> 
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe" name="_password" /> 
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Connexion"  /> 
        </div>

        <div class="form-group">
            Pas encore inscrit ? <a href="{{ path('security_registration') }}"> Créer un compte </a>
        </div>

        <div class="form-group">
            Mot de passe oublié ?  <a href="{{ path('security_forget-pwd') }}"> Cliquez ici !</a>
        </div>
    </form>


{% endblock %}
