{% extends 'base.html.twig' %}



{% block body %}

<h1>Modifier votre photo de profile</h1>

<div class="row">
    <div class="col-md-4">
        <center>
            <p><img src="{{ asset(app.user.photo) }}" id="avatar" ><br></p>
           
            <form >
            <input type="file" class="form-control" id="avatar_input" name="avatar_input"  onchange="previewFile()">
            </form>
        </center>
    </div>
</div>



{% block javascripts %}


{% endblock %}

{% endblock %}
